* {
    font-family: Roboto, sans-serif;
}

body {
    margin:0px;
}

.nav {
    padding: 20px 10%;
}

h1.logo {
    font-size: 24px;
    color: #f9faf8;
    max-width: 40%;
}

a {
    color: inherit;
    text-decoration: none;
}

.logo,.navbar{
    margin-top:0;
    flex:1 1 0;
    align-items:center;
    margin: 0;
    padding: 10px;
}

ul.navbar {
    list-style:none;
    padding:0;
    display: flex;
}

li.navlinks {
    display:inline;
    flex: 1 1 0;
    color: #e5e7eb;
    font-size: 18px;
}

.header .nav,
.hero {
    background-color: #1f2937;
}

.header,.nav{
    height: 100%;
}

.hero,
.left,
.body,
.cards,
.nav {
    display:flex;
    flex-wrap:wrap;
}

.hero {
    width:100%;
    padding: 75px 0px;
    flex-wrap:nowrap;
}

.left {
    width:50%;
    display:flex;
    flex-wrap:wrap;
    padding-left:10%;
}

.maintext,
.subtext {
    flex: 0 0 100%;
}

.right {
    width:50%;
    display:flex;
    justify-content:center;
    padding-right:10%;
}

img.pepe {
    max-width:50%;
}

/*I did an oopsie, this is for class body not actual body tag */
.body {
    margin: 5% 0;
}

.body-title {
    width:100%;
    text-align:center;
    font-size: 36px;
    font-weight:bolder;
    color:#1f2937;
}

.cards {
    display:flex;
    flex: 1;
    justify-content:space-evenly;
    padding-top:5%;
    flex-wrap:nowrap;
    width:100%;
}

.cards .card {
    flex-direction: column;
    justify-content:center;
    display:flex;
    align-items: center;
}

.card img {
    border:5px solid #1f2937;
    border-radius: 50%;
    width: 60%;
}

.card-subtext {
    padding-top: 5%;
}