body {
    margin:0;
}

.logo,.navbar{
    margin-top:0;
    flex:1 1 0;
}

ul.navbar {
    list-style:none;
    padding:0;
}

li.navlinks {
    display:inline;
}

.header .nav,
.hero {
    background-color: #1f2937;
}

.header,.nav{
    height: 100%;
}

.nav {
    display:flex;
}